name: CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Export environment variables
      run: echo "${{ secrets.SECRET }}" > ./app/backend/.env

    - name: Use Node 16
      uses: actions/setup-node@v4
      with:
        node-version: 16.x
        cache: 'npm'
    - name: Install Backend Dependencies
      run: |
        cd ./app/backend
        npm install
    - name: Run Backend Tests
      run: |
        cd ./app/backend
        npm run test:coverage
    
    - name: Upload coverage reports to Codecov
      uses: codecov/codecov-action@v5
      with:
        token: ${{ secrets.CODECOV_TOKEN }}
